@model MiniLojaVirtual.Web.ViewModels.Products.ProductFormViewModel

@{
    ViewData["Title"] = "Novo Produto";
}

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Categoria
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                Nome
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                Descrição
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                Valor
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <partial name="_ImageSelector" model="@Model?.ImageUrl" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group mt-5">
	            <input type="submit" value="Criar" class="btn btn-primary" />
	            <a asp-action="Index" class="btn btn-outline-info">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>
    $(document).ready(function() {
        $('#Price').mask('000.000,00', {
            reverse: true,
            placeholder: "0,00"
        });
    });
    </script>
}
